@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "daisyui" {
    themes: light --default;
}

@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

.mary-table-pagination {

    button,
    span {
        @apply text-xs border-none
    }

    button {
        @apply cursor-pointer
    }

    span[aria-current="page"]>span {
        @apply bg-base-content/5 font-bold
    }
}

.pdf-checkbox {
    display: flex;
    align-items: center;
}

.pdf-checkbox::before {
    content: '';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.75rem;
    height: 1.25rem;
    border: 2px solid rgba(0, 0, 0);
    margin: 4px 4px 4px 0;
}

.pdf-checkbox-checked::before {
    content: '✓';
    font-weight: bolder;
}

.note-container {
    height: 95vh;
    min-height: 95vh;
    text-align: justify;
    background-image: linear-gradient(#000 1px, transparent 0px);
    background-size: 100% 27px;
    background-position-y: 24px;
    line-height: 27px;
    font-size: 14px;
}
